<section class="bg-white dark:bg-gray-900">
    <div class="container flex items-center lg:-mt-8 2xl:-mt-16 justify-center min-h-screen px-6 mx-auto">
        <form [formGroup]="formLogin" (ngSubmit)="login()" class="w-full max-w-2xl">
            <div class="flex justify-center mx-auto">
                <img class="w-auto h-10 sm:h-14" src="logo-pollon.png" alt="">
            </div>
            
            <div class="flex items-center justify-center ">
                <a routerLink="/login" class="cursor-pointer w-1/3 pb-4 font-medium text-center text-gray-800 capitalize border-b-2 border-red-700 dark:border-blue-400 dark:text-white">
                    Iniciar Sesión 
                </a>

                <a routerLink="/register" class="cursor-pointer w-1/3 pb-4 font-medium text-center text-gray-500 capitalize border-b dark:border-gray-400 dark:text-gray-300">
                    Registrarse
                </a>
            </div>

            <form action="" class="flex justify-center flex-col gap-5 mt-6 items-center flex-wrap">
                <div class="relative flex items-center ">
                    <span class="absolute">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300 dark:text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                        </svg>
                    </span>
    
                    <input formControlName="username" type="email" class="block py-3 w-80 md:w-96 text-gray-700 bg-white border rounded-lg px-11 focus:ring-red-400 focus:border-red-600" placeholder="Correo electrónico">
                </div>
                <div class="relative flex items-center ">
                    <span class="absolute">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300 dark:text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                        </svg>
                    </span>
    
                    <input formControlName="password" type="password" class="block py-3 w-80 md:w-96 text-gray-700 bg-white border rounded-lg px-11 focus:ring-red-400 focus:border-red-600" placeholder="Password">
                </div>
                @if (errorCredentials) {
                    <p class="text-red-700 text-sm text-start w-80 md:w-96 -my-4">Correo o contraseña incorrectas</p>
                }
            </form>   

            <div class="mt-6 max-w-sm mx-auto">
                <button type="submit" class="w-full px-6 py-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-red-700 rounded-lg hover:bg-red-800 focus:outline-none focus:ring focus:ring-red-300 focus:ring-opacity-50">
                    Iniciar Sesión
                </button>

                <div class="mt-6 text-center ">
                    <a href="#" class="text-sm text-red-700 hover:underline ">
                        Olvidaste tu contraseña?
                    </a>
                </div>
            </div>
        </form>
    </div>
</section>