<div class="relative my-4">
    <div>
      <h2 class="text-xl md:text-2xl font-bold ml-5 py-4">{{title}}</h2>
    </div>

    <swiper-container class="w-[1200px] h-96 mx-auto" [ngClass]="id" init="false">
        @if (typeCard === "product") {
            @for (item of items; track $index) {
                <swiper-slide >
                    <app-product-card [producto]="item"  [nombreProducto]="item.nombre" [imgProducto]="item.urlImg" [precioProducto]="item.precio"></app-product-card>
                </swiper-slide>
            }
        }@else if (typeCard === "category") {
            @for (item of items; track $index) {
                <swiper-slide>
                  <div class="m-auto">
                    <app-category-card [curso]="item"></app-category-card>
                  </div>
                </swiper-slide>
            }
        }
      
    </swiper-container>
    <button [ngClass]="'swiper-button-prev-'+id" class="w-8 h-8 z-10 absolute top-1/2 left-0 bg-gray-100 rounded-full flex items-center justify-center hover:scale-110 shadow-inner">
      <!--
      <svg class="w-6 h-6 text-gray-400 dark:text-white mr-[3px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 10 16">
        <path d="M8.766.566A2 2 0 0 0 6.586 1L1 6.586a2 2 0 0 0 0 2.828L6.586 15A2 2 0 0 0 10 13.586V2.414A2 2 0 0 0 8.766.566Z"/>
      </svg>
      -->
      <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 1 1.3 6.326a.91.91 0 0 0 0 1.348L7 13"/>
      </svg>
    </button>
    <button [ngClass]="'swiper-button-next-'+id"  class="w-8 h-8 z-10 absolute top-1/2 right-0 bg-gray-100 rounded-full flex items-center justify-center hover:scale-110 shadow-inner">
      <!--CON RELLENO-->
      <!--
      <svg class="w-6 h-6 text-gray-400 dark:text-white ml-[3px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 10 16">
        <path d="M3.414 1A2 2 0 0 0 0 2.414v11.172A2 2 0 0 0 3.414 15L9 9.414a2 2 0 0 0 0-2.828L3.414 1Z"/>
      </svg>
      -->
      <!--SIN RELLENO-->
      <svg class="w-5 h-5 text-gray-800 dark:text-white ml-[1px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
    </svg>
    </button>
  </div>
  <!--
  
  
  
  
  -->
  
